<template>
    <!-- Main -->
	<main class="main">
		<section class="section">
			<div class="container container--medium">
				<router-link :to="{ name: 'admin.themes.index' }" class="button float-right button--grey" v-show="userHasPermission('index pages')">
					View Themes
				</router-link>

                <h1>Create Theme</h1>

                <form action="" @submit.prevent="create()" ref="form">
                    <div class="row">
                        <!-- Name -->
                        <div class="form__group">
                            <input type="text" :class="[{ 'form__control--error': errors.name }, 'form__control form__control--large']" v-model="theme.name" name="name" placeholder="Name" required>
                            <div class="form__error" v-if="errors.name">
                                {{ errors.name[0] }}
                            </div>
                        </div>
                        
                        <!-- Image Section -->
                        <div class="col-4 col-4--bp-tablet">

                            <div class="card mb-3">
                                <div class="card__title">Preview</div>
                                <div class="card__image" :style="[  upload.contents ? { backgroundImage: 'url(' + upload.contents + ')'} : '' ]"></div>
                                <div class="card__footer"> 
                                    <div  class="form__upload form__upload--no-border background--transparent p-0">
                                        <label>
                                            <span class="button">Upload File</span>
                                            <input type="file" id="media" name="media" @change="onUpload()" ref="media" />
                                        </label>
                                    </div>
                                </div>
                            </div>   
                            <div class="form__error" v-if="errors.media">
                                {{ errors.media[0] }}
                            </div>    
                        </div>

                        <!-- Content Section -->
                        <div class="col-8 col-8--bp-tablet pl-2 pl-2--bp-tablet">

                            <div class="form__group">
                                <label class="form__label" for="activate">Activate</label>
                                <div class="mb-10">
                                    <label class="toggle toggle__large">
                                        <input type="checkbox" v-model="theme.activate" name="activate">
                                        <span class="slider slider__round"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form__group">
                                <label class="form__label" for="theme_directory">Directory</label>
                                <input type="text" :class="[{ 'form__control--error': errors.theme_directory }, 'form__control']" v-model="theme.theme_directory" name="theme_directory" required>
                                <div class="form__error" v-if="errors.theme_directory">
                                    {{ errors.theme_directory[0] }}
                                </div>
                            </div>
                            
                            <div class="form__group">
                                <label class="form__label" for="description">Description</label>
                                <textarea :class="[{ 'form__control--error': errors.description }, 'form__control']" v-model="theme.description" name="description" cols="30" rows="5"></textarea>
                                <div class="form__error" v-if="errors.description">
                                    {{ errors.description[0] }}
                                </div>
                            </div>

                            <div class="form__group">
                                <button class="button" type="submit">Create</button>
                            </div>

                        </div>
                    </div>
                </form>
			</div>
		</section>
	</main>
</template>

<script>
import auth from '@js/auth'
import helper from '@js/helpers'

export default {
     data(){
        return {
            /**
             * Your permissions.
             */
            you: {
                permissions: []
            },

            /**
             * Errors.
             */
            errors: [],

            /**
             * File that is set to upload.
             */
            upload: {
                contents: ''
            },

            /**
             * Selected File (ref).
             */
            media: '',

            /**
             * Theme Data (form)
             */
            theme: {
                name: '',
                activate: '',
                theme_directory: '',
                description: ''
            },
        }
     },

    watch: {
        /**
         * Replace spaces with hyphens and have each 
         * characters lowercase.
         */
        'theme.theme_directory': function (value) {
            this.theme.theme_directory = helper.alphaDash(value.toLowerCase(), '_')
        },
    },
        
     mounted() {
        /**
         * Get your permissions.
         */
        axios.get(`/api/user`).then(({data}) => {
            this.you.permissions = auth.setPermissions(data)
        }).catch(errors => {
            this.errors = errors.response.data
        })
     },

     methods: {
        /**
         * Reset.
         */
        reset() {
            this.errors = []
        },
         
        /**
         * Set file's using refs and process.
         */
        onUpload() {
            this.media = this.$refs.media.files[0]
            this.fileReader()
        },

         /**
         * Check your permissions.
         */
        userHasPermission(permission) {
            return this.you.permissions.find(object => object.name == permission) ? true : false
        },

         /**
         * Read file and get the file contents for 
         * images for preview.
         */
        fileReader() {
            var reader = new FileReader()
            let media = this.upload

            reader.onload = function (e) {
                media.contents = e.target.result
            }

            reader.readAsDataURL( this.media )
        },

        /**
         * Create theme.
         */
        create() {
            if(this.userHasPermission('create themes')) {
                let form = new FormData(this.$refs.form)
                axios.post(`/api/admin/themes`, form
                ).then(({data}) => {
                    this.theme = data
                    this.$router.push({ name: 'admin.themes.edit', params: { id: this.theme.id }})
                    this.reset()
                }).catch(errors => {
                    this.errors = errors.response.data
                })
            }
        }
     }
}
</script>

