<template>
    <!-- Main -->
	<main class="main">
		<section class="section">
			<div class="container container--medium">
				<router-link :to="{ name: 'admin.themes.create' }" class="button float-right button--grey" v-show="userHasPermission('create pages')">
                    Create
                </router-link>

                <h1>Edit Theme</h1>

                <!-- Confirmation Success -->
                <div class="alert alert--success mb-2" v-if="confirm.success">
                    Theme has been updated.
                </div>

                 <!-- Confirmation Danger -->
                <div class="alert alert--danger mb-2" v-if="confirm.destroy">
                    Are you sure? You are about delete theme {{ theme.name }}.
                    <a href="#" @click.prevent="destroy()">Continue</a>
                    or 
                    <a href="#" @click.prevent="confirm.destroy = false">Cancel</a>
                </div>

                <form action="" @submit.prevent="update()" ref="form">
                    <div class="row">
                        <!-- Name -->
                        <div class="form__group">
                            <input type="text" :class="[{ 'form__control--error': errors.name }, 'form__control form__control--large']" v-model="theme.name" name="name" placeholder="Name" required>
                            <div class="form__error" v-if="errors.name">
                                {{ errors.name[0] }}
                            </div>
                        </div>
                        
                        <!-- Image Section -->
                        <div class="col-4 col-4--bp-tablet">

                            <div class="card mb-3">
                                <div class="card__title">Preview</div>
                                <div class="card__image" v-if="theme.image" :style="[  upload.contents ? { backgroundImage: 'url(' + upload.contents + ')'} : { backgroundImage: 'url(' + disk + '/' + theme.image  + ')'} ]"></div>
                                <div class="card__footer"> 
                                    <div  class="form__upload form__upload--no-border background--transparent p-0">
                                        <label>
                                            <span class="button">Upload File</span>
                                            <input type="file" id="media" name="media" @change="onUpload()" ref="media" />
                                        </label>
                                    </div>
                                </div>
                            </div>   
                            <div class="form__error" v-if="errors.media">
                                {{ errors.media[0] }}
                            </div>    
                        </div>

                        <!-- Content Section -->
                        <div class="col-8 col-8--bp-tablet pl-2 pl-2--bp-tablet">

                            <div class="form__group">
                                <label class="form__label" for="activate">Activate</label>
                                <div class="mb-10">
                                    <label class="toggle toggle__large">
                                        <input type="checkbox" v-model="theme.active" name="activate">
                                        <span class="slider slider__round"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form__group">
                                <label class="form__label" for="theme_directory">Directory:</label>  {{ theme.theme_directory }}
                            </div>
                            
                            <div class="form__group">
                                <label class="form__label" for="description">Description</label>
                                <textarea :class="[{ 'form__control--error': errors.description }, 'form__control']" v-model="theme.description" name="description" cols="30" rows="5"></textarea>
                                <div class="form__error" v-if="errors.description">
                                    {{ errors.description[0] }}
                                </div>
                            </div>

                            <div class="form__group">
                                <button class="button" type="submit">Update</button>
                                <button class="button button--danger float-right" @click.prevent="confirm.destroy = true">Delete</button>
                            </div>

                        </div>
                    </div>
                </form>
			</div>
		</section>
	</main>
</template>

<script>
import auth from '@js/auth'
import helper from '@js/helpers'

export default {
     data(){
        return {
            /**
             * Website URL.
             */
            app: window.laravel,

            /**
             * The theme_directory (storage) in which themes 
             * files are saved.
             */
            disk: '/storage/themes',
            
            /**
             * Your permissions.
             */
            you: {
                permissions: []
            },

            /**
             * Errors.
             */
            errors: [],

            /**
             * File that is set to upload.
             */
            upload: {
                contents: ''
            },

            /**
             * Selected File (ref).
             */
            media: '',

            /**
             * Theme Data (form)
             */
            theme: {},

            /**
             * Confirm success.
             */
            confirm: {
                success: false,
                destroy: false
            },
        }
     },

     computed: {
        /**
         * Remove last forward slash from app url.
         */
        appUrl: function() {
            return this.app.url.replace(/\/$/, '')
        },
     },
        
     mounted() {
        /**
         * Get your permissions.
         */
        axios.get(`/api/user`).then(({data}) => {
            this.you.permissions = auth.setPermissions(data)
        }).catch(error => {
            this.errors = error.response.data
        })

        /**
         * Fetch theme.
         */
        axios.get(`/api/admin/themes/${this.$route.params.id}`
        ).then(({data}) => {
            this.theme = data
        }).catch(errors => {
            this.errors = errors.response.data
        })
     },

     methods: {
        /**
         * Show success message.
         */
        confirmSuccess() {
            this.confirm.success = true
            return setTimeout( () => this.confirm.success = false, 3000)
        },
         
        /**
         * Set file's using refs and process.
         */
        onUpload() {
            this.media = this.$refs.media.files[0]
            this.fileReader()
        },

         /**
         * Check your permissions.
         */
        userHasPermission(permission) {
            return this.you.permissions.find(object => object.name == permission) ? true : false
        },
        
         /**
         * Read file and get the file contents for 
         * images for preview.
         */
        fileReader() {
            var reader = new FileReader()
            let media = this.upload

            reader.onload = function (e) {
                media.contents = e.target.result
            }

            reader.readAsDataURL( this.media )
        },

        /**
         * Update theme.
         */
        update() {
            if(this.userHasPermission('edit themes')) {
                let form = new FormData(this.$refs.form)
                form.append('_method', 'PATCH')
                axios.post(`/api/admin/themes/${this.theme.id}`, form
                ).then(({data}) => {
                    this.confirmSuccess()
                    this.reset()
                }).catch(errors => {
                    this.errors = errors.response.data
                })
            }
        },

        /**
         * Delete theme.
         */
        destroy() {
            if(this.userHasPermission('delete themes')) {
                axios.delete(`/api/admin/themes/${this.theme.id}`
                ).then(({data}) => {   
                    this.$router.push({ name: 'admin.themes.index',})
                })
                .catch(errors => {
                    this.errors = errors.response.data
                })
            }
        },

        /**
         * Reset.
         */
        reset() {
            this.errors = []
            this.confirm.destroy = false
        },
     }
}
</script>

