<template>
    <!-- Main -->
	<main class="main">
		<section class="section">
			<div class="container container--large">

                <router-link :to="{ name: 'admin.themes.create' }" class="button float-right button--grey" v-show="userHasPermission('create themes')">
                    Create
                </router-link>

                <h1>Themes</h1>

                <div class="row mt-2">
                    <!-- first template -->
                    <div class="col-4 col-4--bp-laptop p-2" v-for="(theme, index) in themes" :key="index">
                        <div class="card">
                            <div class="card__image" :style="{ backgroundImage: 'url(' + disk + '/' + theme.image + ')' }"></div>
                            <div class="card__footer row">
                                <div class="col-7">
                                  <h4 class="m-0 mt-1">{{ capitalize(theme.name) }}</h4>
                                </div>
                                <div class="col-5 text--right">
                                    <button v-if="theme.active" class="button button--small" @click.prevent="update(theme)">Deactivate</button>
                                    <button v-else class="button button--small" @click.prevent="update(theme)">Activate</button>
                                    <router-link class="button button--small" v-show="userHasPermission('edit themes')" :to="{name: 'admin.themes.edit', params: {id: theme.id}}">Edit</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
			</div>
		</section>
	</main>
</template>

<script>
import auth from '@js/auth'
import helper from '@js/helpers'

export default {
     data(){
        return {
            /**
             * Website URL.
             */
            app: window.laravel,

            /**
             * The directory (storage) in which themes 
             * files are saved.
             */
            disk: '/storage/themes',

            /**
             * Themes list.
             */
            themes: [],

            /**
             * Your permissions.
             */
            you: {
                permissions: []
            },

            /**
             * Errors list.
             */
            errors: [],

            /**
             * The directory (public) in which media 
             * files are saved.
             */
            disk: '/storage/themes',
        }
     },

     computed: {
        /**
         * Remove last forward slash from app url.
         */
        appUrl: function() {
            return this.app.url.replace(/\/$/, '')
        },
     },

     mounted() {
        this.index()

        /**
         * Get your permissions.
         */
        axios.get(`/api/user`).then(({data}) => {
            this.you.permissions = auth.setPermissions(data)
        }).catch(errors => {
            this.errors = errors.response.data
        })
     },

     methods: {
        /**
         * Check your permissions.
         */
        userHasPermission(permission) {
            return this.you.permissions.find(object => object.name == permission) ? true : false
        },

        /**
         * Capitalize each word.
         */
        capitalize(string) {
            return helper.capitalize(string)
        },

        /**
         * Call themes.
         */
        index() {
            axios.get(`/api/admin/themes`).then(({data}) => {
                this.themes = data
            }).catch(errors => {
                this.errors = errors.response.data
            })
        },

        /**
         * Update page.
         */
        update(theme) {
            if(this.userHasPermission('edit themes')) {
                axios.patch(`/api/admin/themes/${theme.id}/switch`
                ).then((result) => {
                    this.index()
                }).catch(errors => {
                    this.errors = errors.response.data
                })
            }
        },
     }
}
</script>

