<template>
    <!-- Main -->
	<main class="main">

        <!-- Preview Image -->
        <div v-if="image">
            <div class="modal__backdrop"></div> 
            <div class="modal modal--fixed modal__wrapper">
                <div class="modal__header">
                    <div class="modal__close" @click="image = null; errors.form = []">
                        <i class="far fa-times-circle"></i>
                    </div>
                    <h2>Attachment Details</h2>
                </div>

                <div class="modal__content">
                    <div class="row">
                        <div class="col-8 col-8--bp-tablet">
                            <div class="image image--full-preview p-2" :style="loadFile(image)"></div>
                        </div>
                        <div class="col-4 col-4--bp-tablet p-3">

                            <!-- Success Message -->
                            <div class="alert alert--success mb-2" v-if="confirm.success">
                                Media file is now updated.
                            </div>

                            <div class="form__group">
                                <label class="form__label" for="status">Image URL</label>
                                <input type="text" class="form__control" name="title" :value="appUrl + this.disk + '/' + image.name + '.' + image.type" placeholder="Image URL" required>
                            </div>

                            <div class="card">
                                <div class="card__body">
                                    <div class="form__group">
                                        <label class="form__label" for="name">File Name</label>
                                        <input type="text" :class="[{ 'form__control--error': errors.form.name }, 'form__control form__control--x-small']" name="name" v-model="fileName" placeholder="File Name" required>
                                        <div class="form__error" v-if="errors.form.name">
                                            {{ errors.form.name[0] }}
                                        </div>
                                    </div>
                                    <div class="form__group">
                                        <small>Path: {{ image.path }}</small>
                                    </div>
                                    <div class="form__group">
                                        <small>Size: {{ image.size }} bytes</small>
                                    </div>
                                    <div class="form__group">
                                        <small>Type: {{ image.type }}</small>
                                    </div>
                                    <div class="form__group mb-0">
                                        <button class="button button--small" @click.prevent="update()">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Manage Media -->
        <section class="section">
            <div class="container container--medium">
                <button class="button float-right button--grey" v-if="userHasPermission('create media')" @click.prevent="toggleUploader = !toggleUploader">
                    Create
                </button>
                <h1>Media</h1>

                <!-- Bulk Select & Delete -->
                <div v-if="userHasPermission('delete media')">
                    <button class="button" v-if="uploads.length" @click.prevent="toggleBulkSelect()">Bulk Select</button>
                    <button class="button" v-if="selected.length" @click.prevent="destroy()">Delete</button>
                </div>

                <!-- Uploader -->
                <upload :toggleUploader="toggleUploader" :errors="errors"></upload>

                <!-- Successful Uploads -->
                <div class="row mt-2">
                    <div class="col-3 col-3--bp-tablet p-2" v-for="(upload, index) in uploads" :key="index">
                        <!-- Image -->
                        <div :class="[{ 'image--v-align-middle' : ! bulkSelect, 'image--error' : upload.failed }, 'image image--fluid cursor--pointer p-2']" :style="loadFile(upload)" @click="selectOrView(upload)">
                            <!-- Failed -->
                            <div v-if="! bulkSelect && upload.failed">>
                                <div class="image--overlay image--v-align-middle">
                                    <h2 class="image--overlay-text mb-1">Failed</h2>
                                    <small>{{ upload.name }}</small>
                                </div>
                            </div>
                            <!-- Selection Overlay -->
                            <div v-if="bulkSelect && ! isSelected(upload)" class="image--overlay"></div>
                            <!-- Upload Progress -->
                            <UploadProgress :upload="upload" v-show="upload.showUploadProgress"></UploadProgress>
                            <!-- Checkbox Select -->
                            <label class="checkbox checkbox--bold-round" v-if="isSelected(upload)">
                                <input type="checkbox" :checked="isSelected(upload)" @click="select(upload)">
                                <span class="checkbox__mark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Errors -->
                <div class="form__error" v-if="errors.files">
                    {{ errors.files[0] }}
                </div> 
            </div>
        </section>
    </main>
</template>

<script>
    import auth from '@js/auth'
    import helper from '@js/helpers'
    
    export default {
        data(){
            return {
                /**
                 * Website URL.
                 */
                app: window.laravel,

                /**
                 * Show/Hide uploader.
                 */
                toggleUploader: false,

                /**
                 * Selected image for preview.
                 */
                image: null,

                /**
                 * The directory (storage) in which media 
                 * files are saved.
                 */
                disk: '/storage/media',

                /**
                 * Successfull uploads.
                 */
                uploads: [],

                /**
                 * Enable bulk selection.
                 */
                bulkSelect: false,

                /** 
                 *  Selected records.
                 */
                selected: [],

                /**
                 * Media errors.
                 */
                errors: {
                    upload: [],
                    form: []
                },

                /**
                 * Your permissions.
                 */
                you: {
                    permissions: []
                },

                /**
                 * Pagination.
                 */
                page: 0,

                /**
                 * Confirmation.
                 */
                confirm: {
                    success: false
                },

                /**
                 * Filename when renaming.
                 */
                filename: ''
            }
        },

        /**
         * Detect scroll.
         */
        updated() {
            /**
             * If scrolled to the bottom of the page.
             */
            this.onScrollBottom()
        },

        created() {
            /**
             * On emit, toggle uploader.
             */
            this.$root.$on('toggleUploader', () => {
                this.toggleUploader = false
            })

            /**
             * On emit, load errors.
             */
            this.$root.$on('errors', (errors) => {
                this.errors.upload = errors
            })
        },

        computed: {
            /**
             * Remove last forward slash from app url.
             */
            appUrl: function() {
                return this.app.url.replace(/\/$/, '')
            },

            /**
             * Slugify file name.
             */
            fileName: {
                get() {
                    return helper.alphaDash(this.filename, '-')
                },

                set(value) {
                    this.filename = helper.alphaDash(value, '-')
                }
            },
        },

        /**
         * Request uploaded media when the component is 
         * loaded.
         */
        mounted() {
            this.index()

            /**
             * Get your permissions.
             */
            axios.get(`/api/user`).then(({data}) => {
                this.you.permissions = auth.setPermissions(data)
            }).catch(errors => {
                this.errors = errors.response.data
            })
        },

        methods: {
            /**
             * Show success message.
             */
            confirmSuccess() {
                this.confirm.success = true
                return setTimeout( () => this.confirm.success = false, 3000)
            },

            /**
             * Remove duplicated uploads caused by 
             * overlapping pagination and upload.
             */
            filterDuplicates() {
                this.uploads = _.uniqBy(this.uploads, function(object){
                    return object.id
                })
            },

            /**
             * Load & append uploaded media when the user 
             * has scrolled to the bottom of the page.
             */
            onScrollBottom() {
                let vm = this

                window.onscroll = function() {
                    if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) {
                        vm.index()
                    }
                }
            },

            /**
             * Select / Unselect items from the selections 
             * array. If the upload is in the selection, 
             * then unselect it, otherwise append it.
             */
            select(upload) {
                if (! this.selected.find(id => id == upload.id))  {
                    return this.selected.push(upload.id)
                }

                return this.selected.splice(
                    this.selected.findIndex(id => id == upload.id), 
                1)
            },

            /**
             * Check if upload from uploads is selected.
             */
            isSelected(upload) {
                return this.selected.find(id => id == upload.id)
            },

            /**
             * Load the image or load the contents of the
             * upload on fail.
             */
            loadFile(object) {
                if( object.name && object.type ) {
                    return { backgroundImage: 'url(' + this.disk + '/' + object.name + '.' + object.type  + ')' }
                }

                return { backgroundImage: 'url(' + object.contents + ')' }
            },

            /**
             * Select or view image.
             */
            selectOrView(upload) {
                if(this.bulkSelect) {
                    return this.select(upload)
                }
        
                if(! upload.failed) {
                    this.image = upload
                    this.filename = this.image.name
                }
            },

            /**
             * Enable / disable bulk selection.
             */
            toggleBulkSelect() {
                this.selected = []
                this.bulkSelect = !this.bulkSelect
            },

            /**
             * Remove file by the given ID.
             */
            massSelectionAction() {
                this.selected.forEach(id => {
                    this.uploads = this.uploads.filter(object => object.id != id)
                })
            },

            /**
             * Reset files and form data.
             */
            reset() {
                this.selected = []
                this.errors.form = []
                this.errors.upload = []
                this.bulkSelect = false
            },

            /**
             * Check your permissions.
             */
            userHasPermission(permission) {
                return this.you.permissions.find(object => object.name == permission) ? true : false
            },

            /**
             * Increment page number, load and append 
             * uploaded media to the uploads array.
             */
            index() {
                let vm = this
                this.page = this.page + 1

                axios.get(`/api/admin/media`, {
                params: { 
                    page: this.page,
                }}).then(({data}) => {
                    data.data.forEach(function(media) {
                        vm.uploads.push(media)
                    })
                    this.filterDuplicates()
                }).catch(errors => {
                    this.errors = errors.response.data
                })
            }, 

            /**
             * Update media file name.
             */
            update() {
                if(this.userHasPermission('edit media')) {
                    axios.patch(`/api/admin/media`, {
                        id: this.image.id,
                        name: this.fileName,
                        type: this.image.type
                    }).then(({data}) => {
                        this.image.name = data.name
                        this.confirmSuccess()
                        this.reset()
                    }).catch(errors => {
                        this.errors.form = errors.response.data
                    })
                }
            },

            /**
             * Remove media from uploads.
             */
            destroy() {
                if(this.userHasPermission('delete media')) {
                    axios.delete(`/api/admin/media/`, {
                        params: { 
                            ids: this.selected
                        }
                    }).then(({data}) => {   
                        this.massSelectionAction()
                        this.reset()
                    }).catch(errors => {
                        this.errors = errors.response.data
                    })
                }
            }
        }
    }
</script>