<template>
	<!-- Main -->
	<main class="main">
		<section class="section">
			<div class="container container--medium">
				<router-link :to="{ name: 'admin.pages.index' }" class="button float-right button--grey" v-show="userHasPermission('index pages')">
					View Pages
				</router-link>

				<h1>Create Page</h1>

				<form action="" @submit.prevent="create()">

					<div class="form__group">
						<input type="text" :class="[{ 'form__control--error': errors.title }, 'form__control form__control--large']" name="title" v-model="page.title" placeholder="Page Title" required>
						<div class="form__error" v-if="errors.title">
							{{ errors.title[0] }}
						</div>
					</div>

					<div class="row">
						<div class="col-4 col-4--bp-tablet">
							<div class="form__group pl-1 pl-1--bp-tablet">
								<label class="form__label" for="status">Status</label>
								<select :class="[{ 'form__control--error': errors.status }, 'form__control form__control--small']" name="status" v-model="page.status" required>
									<option value="draft">Draft</option>
									<option value="published">Published</option>
								</select>
								<div class="form__error" v-if="errors.status">
									{{ errors.status[0] }}
								</div>
							</div>
						</div>

						<div class="col-4 col-4--bp-tablet">
							<div class="form__group pl-1 pl-1--bp-tablet">
								<label class="form__label" for="template">File</label>
								<span v-if="page.template" class="mt-2 mb-3">
									: {{ page.template }}.blade.php
								</span>
								<input type="text" :maxlength="20" :class="[{ 'form__control--error': errors.template }, 'form__control form__control--small']" name="template" v-model="page.template">
								<div class="form__error" v-if="errors.template">
									{{ errors.template[0] }}
								</div>
							</div>
						</div>

						<div class="col-2 col-2--bp-tablet">
							<div class="form__group pl-2 pl-2--bp-tablet">
								<label class="form__label" for="activate">Homepage <span @click="tooltip.homepage = !tooltip.homepage">[?]</span></label>
								<span class="tooltip" v-if="tooltip.homepage">
									<div class="tooltip__message tooltip__message--right text--center">
										Enabling homepage will set this page as your front page.
									</div>
								</span>
                                <div class="mb-10">
                                    <label class="toggle toggle__medium">
                                        <input type="checkbox" v-model="page.homepage" name="homepage">
                                        <span class="slider slider__round"></span>
                                    </label>
                                </div>
                            </div>
						</div>
					</div>

					<div class="form__group">
						<label class="form__label" for="slug">Slug</label>
						<span v-if="page.content.slug" class="mt-2 mb-3">
							: <a :href="settingsWebsiteUrl + '/' + page.content.slug" target="_blank">{{ settingsWebsiteUrl }}/{{ page.content.slug }}</a>
						</span>
						<input type="text" :maxlength="50" :class="[{ 'form__control--error': errors.content }, 'form__control']" name="slug" v-model="page.content.slug">
						<div class="form__error" v-if="errors.content">
							{{ errors.content.slug[0] }}
						</div>
					</div>

					<div class="form__group">
						<label class="form__label" for="body">Content</label>
						<editor v-model="page.body" :init="{ height : 300, branding: false } " api-key="cscoxcn8hthyd83ca3vb8gys3e0ci3odu5yd15igra57iroc"></editor>
						<div class="form__error" v-if="errors.body">
							{{ errors.body[0] }}
						</div>
					</div>

					<div class="form__group">
						<button class="button" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</section>
	</main>
</template>

<script>
    import auth from '@js/auth'
	import helper from '@js/helpers'
	import Editor from '@tinymce/tinymce-vue';

	export default {
		components: {
			'editor': Editor
		},
		data() {
            return {
				/**
				 * Store Settings.
				 */
				settings: [],

				/**
				 * Page errors.
				 */
				errors: [],

				/**
                 * Your permissions.
                 */
                you: {
                    permissions: []
				},
				
				/**
				 * Page status.
				 */
            	page: {
					status: 'published',
					content: {
						slug: ''
					}
				},

				/**
				 * Activate tooltip.
				 */
				tooltip: {
					homepage: false
				},
            }
		},

		watch: {
			/**
			 * Replace spaces with hyphens.
			 */
			'page.content.slug': function (value) {
				if(value){
					this.page.content.slug = helper.alphaDash(value, '-')
				}
			},

			/**
			 * Replace spaces with hyphens and have each 
			 * characters lowercase.
			 */
			'page.template': function (value) {
				if(value) {
					this.page.template = helper.alphaDash(value.toLowerCase(), '-')
				}
			},
		},

		mounted() {
			/**
			 * Load Settings.
			 */
			axios.get(`/api/admin/settings`)
            .then(({data}) => {
                this.settings = data
            }).catch(errors => {
                this.errors = errors.response.data
			})
			
			/**
             * Get your permissions.
             */
            axios.get(`/api/user`).then(({data}) => {
                this.you.permissions = auth.setPermissions(data)
            }).catch(errors => {
                this.errors = errors.response.data
			})
		},

		computed: {
	        /**
			 * Website URL.
			 */
		    settingsWebsiteUrl: function() {
                if(this.settings.length) {
                    return this.settings.find(setting => setting.key == 'website_url').value
                }
			},
		},

		methods: {
			/**
             * Check your permissions.
             */
            userHasPermission(permission) {
                return this.you.permissions.find(object => object.name == permission) ? true : false
			},

			/**
			 * Create page.
			 */
			create() {
				if(this.userHasPermission('create pages')) {
					axios.post(`/api/admin/pages`, this.page
					).then(({data}) => {
						this.page = data
						this.$router.push({ name: 'admin.pages.edit', params: { id: this.page.id }})
						this.clear()
					}).catch(errors => {
						this.errors = errors.response.data
					})
				}
			},
			
			/**
             * Clear all errors.
			 */
            clear() {
                this.errors = []
			},
		}
	}
</script>