<template>
    <div class="text--center">
        <ul class="pagination p-0 mb-2">
            <li v-for="(page, index) in pages" :key="index" class="pagination__link" :class="current(page) ? ' pagination__link--current' : ''">
                <a @click.prevent="change(page)">{{ page }}</a>
            </li>
        </ul>

        <a class="button button--grey button--small" v-show="!(meta.current_page <= 1)" @click.prevent="change(1)">&laquo;</a>
        <a class="button button--grey button--small" v-show="!(meta.current_page <= 1)" @click.prevent="change(meta.current_page - 1)">&lsaquo;</a>
        <a class="button button--grey button--small" v-show="meta.current_page != meta.last_page" @click.prevent="change(meta.current_page + 1)">&rsaquo;</a>
        <a class="button button--grey button--small" v-show="meta.current_page != meta.last_page" @click.prevent="change(meta.last_page)">&raquo;</a>
    </div>
</template>

<script>
    export default {
        props: ['meta', 'offset'],

        methods: {
            current(page) {
                return this.meta.current_page == page
            },

            change(page) {
                if (page > this.meta.last_page) {
                    page = this.meta.last_page
                }

                this.meta.current_page = page
                this.$emit('paginate')
            }
        },

        computed: {
            pages() {
                let pages = []
                let from = this.meta.current_page - Math.floor(this.offset / 2)

                if (from < 1) {
                    from = 1
                }

                let to = from + this.offset - 1
                if (to > this.meta.last_page) {
                    to = this.meta.last_page
                }
                while (from <= to) {
                    pages.push(from)
                    from++
                }

                return pages
            }
        }
    }
</script>