<template>
<div>
    <!-- Errors -->
    <ul class="alert list alert--danger" v-if="$parent.errors.upload.length">
        <li v-for="(error, index) in $parent.errors.upload" :key="index">{{ error }}</li>
    </ul>

    <!-- File Uploader -->
    <div @dragover.prevent @drop.prevent="onDrop" v-show="toggleUploader == true" class="form__upload mt-2">
        <div class="position position__top-right cursor--pointer p-2" @click="closeUploader()">
            <i class="far fa-times-circle"></i>
        </div>
        <h3 class="m-0">Drop files anywhere to upload</h3>
        <p>
            or
        </p>
        <label>
            <span class="button button--large">Select Files</span>
            <input type="file" id="files" ref="files" multiple @change="onChange()"/>
        </label>
    </div>
</div>
</template>

<script>
  import helper from '@js/helpers'
  
  export default {
    props: ['toggleUploader'],

    /*
      Defines the data used by the component
    */
    data(){
        return {
            /**
             * Selected files from the uploader.
             */
            files: [],

            /**
             * Current file, used when looping 
             * through each selected file.
             */
            file: {},

            /**
             * Current upload, which stores file 
             * name, type, contents and upload 
             * progress.
             */
            upload: {},

            /**
             * Form data based off the files 
             * uploaded.
             */
            formData: null,

            /**
             * Store Settings.
             */
            settings: []
        }
    },

    mounted() {
        this.indexSettings()
    },

    computed: {
        /**
         * Max upload size. (MB)
         */
        settingsMaxUploadSize: function() {
            return this.settings.find(setting => setting.key == 'media_max_size').value * 1000
        },

        /**
         * File Extensions. (jpg, png, gif)
         */
        settingsFileTypes: function() {
            let fileTypes = this.settings.find(setting => setting.key == 'media_types').value
            return fileTypes.replace(/\s/g, '').split(',')
        },

        /**
         * Get file type after the first forward slash.
         */
        fileType: function() {
            return this.file.type.split('/').pop()
        }
    },

    methods: {

        /**
         * Toggle uploader.
         */
        closeUploader() {
            this.$root.$emit('toggleUploader')
            this.$parent.reset()
        },

        /**
         * Get the uploaded files and on drop.
         */
        onDrop: function(e) {
            this.files = e.dataTransfer.files
            this.build()
            this.$parent.reset()
        },

        /**
         * Set file's using refs and process.
         */
        onChange() {
            this.files = this.$refs.files.files
            this.build()
            this.$parent.reset()
        },

         /**
         * Increment the progress bar.
         */
        uploadProgress() {
            let media = this.upload

            return function( progress ) {
                media.progress = parseInt( Math.round( ( progress.loaded * 100 ) / progress.total ) )

                setTimeout(function incrementLoadTime() {
                    if(progress.loaded == progress.total) {
                        media.showUploadProgress = false
                    }else if(progress.loaded != progress.total) {
                        setTimeout(incrementLoadTime, 1000);
                    }
                }, 1000);
                
            }.bind(this)
        },

        /**
         * Read file and get the file contents for images, 
         * used mostly for failed uploads.
         */
        fileReader() {
            var reader = new FileReader()
            let media = this.upload

            if(media.failed) {
                reader.onload = function (e) {
                    media.contents = e.target.result
                }
                reader.readAsDataURL( this.file )
            }
        },

        /**
         * Check if the file type is allowed via settings, 
         * otherwise fail the upload.
         */
        validate() {            
            this.formData = new FormData()

            if(helper.inArray(this.settingsFileTypes, [this.fileType]) && Math.round(this.file.size / 1000) <= this.settingsMaxUploadSize) {
                return this.formData.append('media', this.file)
            }
            
            this.upload.failed = true
            this.upload.showUploadProgress = false
            this.fileReader()
        },

        /**
         * Iterate through the files selected for upload 
         * to build form data and upload.
         */
        build() {
            let vm = this
            for( var index = 0; index < this.files.length; index++ ) {   
                this.file = this.files[index]

                // Each upload will have the following
                this.upload = {
                    id: helper.random(),
                    name: this.file.name,
                    extension: '',
                    contents: '',
                    failed: false,
                    showUploadProgress: true,
                    progress: 0,
                    uploadedNow: true,
                }

                this.validate()
                this.$parent.uploads.unshift(this.upload)
                this.create()
            }
        },

        /**
         * Fetch Settings.
         */
        indexSettings() {
            axios.get(`/api/admin/settings`)
            .then(({data}) => {
                this.settings = data
            }).catch(errors => {
                this.errors = errors.response.data
            })
        },

        /**
         * Process upload.
         */
        create() {
            let media = this.upload
            if(this.$parent.userHasPermission('create media') && ! media.failed) {
                axios.post( '/api/admin/media',
                    this.formData, { 
                        headers: { 'Content-Type': 'multipart/form-data' },
                        onUploadProgress: this.uploadProgress()
                    }
                ).then(({data}) => {
                    media.id = data.id
                    media.name = data.name
                    media.type = data.type
                    media.path = data.path
                    media.size = data.size
                }).catch(errors => {
                    this.$root.$emit('errors', helper.errors(errors.response.data))
                })
            }
        },
    }
  }
</script>