<template>
    <div v-if="upload.showUploadProgress" class="progress progress--small text--center">
        <div :class="[{ 'progress__bar--failure': upload.failed }, 'progress__bar progress__bar--success']" :style="{width: upload.progress + '%'}"></div>
    </div>
</template>

<script>
    export default {
        props: ['upload'],
    }
</script>