.alert {
    padding: .8em;
    border: 1px;
    border-left: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: $grey;

    &--danger {
        border-color: $danger;
    }

    &--success {
        border-color: $primary;
    }

    &--warning {
        border-color: $warning;
    }

    &--information {
        border-color: $information;
    }
}