/*
    BUTTONS
*/
.button {
    border: 1px solid $grey-dark;
    font-weight: 600;
    box-shadow: 0 .5px 0 $grey-dark;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: $white;
    cursor: pointer;
    color: $grey-dark;
    font-weight: 300;
    font-size: .8rem;
    outline: 0;

    &:hover {
        background-color: $off-white;
    }

    &--inline {
        display: inline;
    }

    &--small {
        font-size: .7rem;
        padding: .4rem .6rem;
    }

    &--large {
        font-size: .9rem;
        padding: .6rem 1.4rem;
    }

    &--danger {
        border-color: $danger;
        color: $danger;
    }
}