.card {
    border-radius: 5px;
    background: $white;
    border: 1px solid $grey-light;
    box-shadow: 1px 3px 2px rgba(0,0,0,.03);
    position: relative;
    overflow: hidden;
    
    &--responsive {
        overflow: scroll;

        table,
        .table {
            min-width: 500px;
        }
    }

    &--no-shadow {
        box-shadow: initial;
    }

    &--no-background {
        background: transparent;
    }

    &--no-background-border {
        background: transparent;
        border: 0px;
        box-shadow: 0 0 0;
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $grey-lightest;
        opacity: .5;
        z-index: 999;
    }

    &__title {
        border-bottom: 1px solid $grey-light;
        vertical-align: middle;
        text-align: left;
        font-weight: 600;
        padding: 1em;

        &--slider {
            padding: 1em 3em;
            background-color: $off-white;

            .slick-prev {
                left: 5px;
                &:before {
                    color: $grey-darkest;
                }
            }
            .slick-next {
                right: 5px;
                &:before {
                    color: $grey-darkest;
                }
            }
        }
    }

    &__body {
        padding: 1em;
    }

    &__image {
        background-size: cover;
        background-position: center;
        padding-bottom: 15em;
    }

    &__footer {
        padding: 1em;
        border-top: 1px solid $grey-light;
    }
}