/*
    CHECKBOXES
*/
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__mark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 3px;
        border: 1px solid $grey;
        background-color: $white;

        &:after {
            content: "";
            position: absolute;
            display: none;

            left: 7px;
            top: 2.5px;
            width: 3px;
            height: 9px;
            border: solid $primary;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &:hover input ~ .checkbox__mark {
        background-color: $white;
        border-color: $grey-dark;
    }
    input:checked ~ .checkbox__mark {
        background-color: $white;
        border-color: $primary;
    }

    input:checked ~ .checkbox__mark:after {
        display: block;
    }

    &--bold-round {
        .checkbox__mark {
            height: 25px;
            width: 25px;
            border-radius: 50%;
    
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 9px;
                top: 3.5px;
                width: 3px;
                height: 11px;
                border: solid $white;
                border-width: 0 2.5px 2.5px 0;
            }
        }

        input:checked ~ .checkbox__mark {
            background-color: $primary;
            border-color: $white;
        }
    }
}
