/*
    FORMS
*/
.form {
    &__group {
        margin-bottom: 1em;
    }

    &__label  {
        font-weight: 600;
        margin-bottom: .5em;
        display: inline-block;
    }

    &__error {
        color: $danger;
        font-size: .8rem;
        margin-top: .5em;
    }

    &__upload {
        position: relative;
        border: 2px dashed $grey;
        border-radius: 10px;
        text-align: center;
        overflow: hidden;
        padding: 1.5em;

        input[type="file"] {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        &--no-border {
            border: 0px;
        }

        &--error {
            border-color: $danger;
        }
    }

    &__control {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.03);
        border: 1px solid $grey-light;
        background-color: $white;
        font-size: 0.95rem;
        border-radius: 5px;
        font-weight: 300;
        padding: .6em;
        width: 100%;
        outline: 0;
        -webkit-appearance: none;

        &--error {
            border-color: $danger;
        }

        &--code {
            font-size: .85rem;
        }

        &:focus {
            border-color: $primary;
        }

        &::placeholder {
            color: $grey-dark;
        }

        &--inline {
            width: initial;
            min-width: 10em;
            display: inline-block;
        }

        // INPUT SIZES
        &--large {
            padding: .7em;
            font-size: 1.1rem;
        }

        &--small {
            padding: .55em;
            font-size: 0.85rem;
        }

        &--x-small {
            padding: .5em;
            font-size: 0.75rem;
        }

        &--no-shadow {
            box-shadow: initial;
        }

        &--muted {
            opacity: .6;
            transition: .2s ease-in-out;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}