/*
    CONTAINERS
*/
.container {
    max-width: $desktop;
    margin: 0 auto;
    clear: both;
    width: 95%;

    // SECTION SIZES
    &--full {
        max-width: 100%;
        width: 100%;
    }

    &--medium {
        max-width: $laptop;
    }

    &--small {
        max-width: $tablet;
    }

    &--x-small {
        max-width: $mobile;
    }
}

/*
    SECTIONS
*/
.section {
    padding: 1.5em 0;

    &--grey {
        background-color: $grey-lightest;
    }
}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.row:after  {
    clear: both;
}

[class*='col-'] {
    float: left;
}

@for $i from 1 through $gridcolumns {
    .col-#{$i} {
        width: 100% / $gridcolumns * $i;

        //Breakpoints
        @media (max-width: $laptop) { 
            &--bp-laptop { width: 100% } 
        }
        @media (max-width: $tablet) { 
            &--bp-tablet { width: 100% } 
        }
        @media (max-width: $mobile) { 
            &--bp-mobile { width: 100% } 
        }
        @media (max-width: $iphone) { 
            &--bp-iphone { width: 100% } 
        }
    }
}