/*
    NAVIGATION
*/
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    z-index: 6;
    padding: .5em 0;
    background-color: $navigation;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        text-align: center;
        position: relative;
        
        a {
            display: block;
            padding: .6em .5em;
            color: $navigation-color;
        }
        
        /*
            TEXT
        */
        span {
            display: none;
            transform: translate(0%, -50%);
            font-size: .85rem;
            background: $navigation;
            color: $white;
            border-radius: 5px;
            padding: 7px 7px;
            min-width: 8em;
            position: absolute;
            border-right: 3px solid $primary;
            left: 45px;
            top: 50%;
        }

        /*
            ICON
        */
        i {
            font-size: 1rem;
        }
        
        &:hover {
            a {
                color: $primary;
            }

            span {
                display: block;
            }
        }
    }

    /*
        TABLET
    */
    @media (max-width: $tablet) {
        position: relative;
        width: 100%;

        &__item { 
            display: inline-block;

            a {
                padding: .5em 1em;
            }

            i {
                vertical-align: sub;
            }

            span {
                position: absolute;
                bottom: -55px;
                top: initial;
                left: 50%;
                border: 0px;
                min-width: 6em;
                border-bottom: 3px solid $primary;
                transform: translate(-50%, -50%);
            }
        }
    }

    /*
        MOBILE
    */
    @media (max-width: $mobile) {
        &__item { 
            i {
                font-size: 1rem;
            }

            span {
                display: none;
            }
        }
    }
}

/*
    MAIN
*/
.main {
    height: 100%;
    min-height: 100vh;
    margin-left: 45px;

    @media (max-width: $tablet) {
        margin-left: 0;
    }
}

.backdrop {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
