/*
    MODALS
*/
.modal {
    position: absolute;
    background: $white;
    overflow: hidden;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    bottom: auto;
    margin: 2em auto;
    max-width: $desktop;

    &--fixed {
        position: fixed;

        @media (max-width: $tablet) { 
           position: relative;
        }
    }

    &__header {
        border-bottom: 1px solid $grey-light;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0.5em;
        }
    }

    &__close {
        padding: 1em;
        float: right;
        padding: 0.7em;
        font-size: 1.2em;
        cursor: pointer;
    }

    &__backdrop {
        background: rgba(0, 0, 0, 0.85);
        position: fixed;
        z-index: 6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    @media (max-width: $desktop) { 
        max-width: 100%;
        margin: 1em;
    }
}