.pagination {
    &__link {
        display: inline-block;
        background-color: $white;
        border: 1px solid $grey-dark;
        border-radius: 5px;
        margin-right: .2em;

        a {
            color: $grey-dark;
            padding: .5em .8em;
            display: inline-block;
            cursor: pointer;
        }

        &--current {
            border-color: $primary;
            a {
                color: $primary;
            }
        }
    }
}