.progress {
    width: 100%;
    height: 34px;
    padding: 1px;
    border-radius: 100px;
    background-color: transparent;
    box-shadow: 0 1px 4px rgba(44, 51, 73, 0.05);
    border: 1px solid $grey;
    -webkit-transition: .4s;
    transition: .4s;

    &__bar {
        width: 0%;
        color: $white;
        height: 30px;
        border-radius: 100px;
        background-color: $grey-dark;
        transition: width 500ms;
        
        &--success {
            background-color: $primary; 
        }

        &--failure {
            background-color: $danger;
        }
    }

    &--small {
        height: 25px;

        .progress__bar {
            height: 21px;
        }
    }
}