/*
TABLES
*/
.table,
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    
    tr th,
    tr, td {
        padding: .90em;
        vertical-align: top;
    }
    
    tbody tr {
        &:hover {
            background: $grey-lightest;
            
            .hover-visibility {
                visibility: visible;
            }
        }

        &:last-child {
            .border__bottom {
                border: 0px;
            }
        }
    }
    
    thead {
        th {
            border-bottom: 1px solid $grey-light;
            vertical-align: middle;
            text-align: left;
            font-weight: 600;
        }
    }
    
    tfoot {
        th {
            border-top: 1px solid $grey-light;
            vertical-align: middle;
            text-align: left;
            font-weight: 600;
        }
    }

    &--v-align-middle {
        tr th,
        tr, td {
            vertical-align: middle;
        }
    }

    &--p-0 {
        tr th,
        tr, td {
            padding: 0;
        }
    }

    &--no-hover-background {
        tbody tr {
            &:hover {
                background-color: transparent;
            }
        }
    }
}
