/*
    TOGGLES
*/
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    &__medium {
        width: 46px;
        height: 25px;

        .slider:before{
            height: 18px;
            width: 18px;
            left: 4px;
        }

        input:checked + .slider:before {
            transform: translateX(20px);
        }
    }
    
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    outline: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey;
    -webkit-transition: .4s;
    transition: .4s;
    
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $white;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.14);
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + & {
        background-color: $primary;
    }
    
    input:focus + & {
        box-shadow: 0 0 1px $primary;
    }
    
    input:checked + &:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    &__round {
        border-radius: 35px;

        &:before {
            border-radius: 50%;
        }
    }
}