.tooltip {
    position: relative;
    cursor: pointer;
    z-index: 1;

    &__message {
        color: $white;
        overflow: hidden;
        min-width: 10em;
        font-size: .8rem;
        position: absolute;
        padding: .25em .5em;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.75);
        z-index: 1;

        &--hidden {
            opacity: 0;
            height: 0;

            @media (max-width: $iphone) {
                top: -10px;
            }
        }

        &--right {
            right: 0;
        }
        
        &--center {
            transform: translate(-50%, 0%);
        }
    }

    &:hover &__message--hidden {
        height: auto;
        opacity: 1;
    }
}