/*
    TEXT ALIGN
*/
.text {
    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }
}

/*
    Background Colors
*/
.background {
    &--grey-light {
        background-color: $grey-light;
    }

    &--grey-lightest {
        background-color: $grey-lightest;
    }

    &--off-white {
        background-color: $off-white;
    }

    &--grey {
        background-color: $grey;
    }

    &--transparent {
        background-color: transparent;
    }
}

/*
    Image
*/
.image {
    position: relative;
    height: 150px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 4px rgba(44, 51, 73, 0.08);
    overflow: hidden;

    &--icon {
        width: 7em;
        height: 7em;
    }

    &--full-preview {
        background-size: contain;
        height: 85vh;
        box-shadow: 0 0 0;
        border-radius: 0;

        @media (max-width: $tablet) { 
            max-height: 30em;
        }
    }

    &--overlay {
        position: absolute;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.80);
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    &--success {
        border: 1px solid $primary;
    }

    &--error {
        border: 1px solid $danger;
    }

    &--overlay-text {
        z-index: 1;
    }

    &--overlay-hover{
        transition: .4s;
        opacity: .5;

        &:hover {
            opacity: 1;
        }

    }

    &--v-align-middle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}


/*
    Overflow
*/
.overflow {
    &--x {
        overflow-x: scroll;
    }

    &--y {
        overflow-y: scroll;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.hover-visibility {
    visibility: hidden;
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100%;
}

/*
    TEXT COLORS
*/
.red {
    color: $danger;
}

.grey-darkest {
    color: $grey-darkest;
}


/*
    FLOATS
*/
.float-right {
    float: right;
}

.float-left {
    float: left;
}

/*
    No Radius
*/
.r-0 {
    border-radius: 0;
}

/*
    Position
*/
.position {
    position: absolute;

    &__full {
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
    }

    &__bottom-right {
        right: 0;
        bottom: 0;
    }

    &__top-right {
        right: 0;
        top: 0;
    }
}

/*
    DISPLAY
*/
.d-block {
    display: block;
}

.d-inline {
    display: inline-block;
}

.hide {
    display:none;
}

/*
    Cursor
*/
.cursor {
    &--pointer {
        cursor: pointer;
    }
}

.list {
    line-height: 1.5em;
    padding-left: 2em;

     // For lists
     &--no-style {
        list-style-type: none;
        line-height: 2em;
        padding: 0;
        margin: 0;
    }
}
/*
    Border
*/
.border {
    &__bottom {
        border-bottom: 1px solid $grey-light;
    }
}


/*
    MARGIN AND PADDING
*/
@each $side, $value in $sides {
    @for $i from 0 through 5 {
        $property: if($side == '', '', -#{$value});
        $space: $i * 5;
        $selector: #{$side}-#{$i};
        
        // Margins
        .m#{$selector} {
            margin#{$property}: #{$space}px;
        }
        
        // Paddings
        .p#{$selector} {
            padding#{$property}: #{$space}px;
            
            //Breakpoints
            @media (max-width: $laptop) { 
                &--bp-laptop { padding#{$property}: 0px; } 
            }
            @media (max-width: $tablet) { 
                &--bp-tablet { padding#{$property}: 0px; } 
            }
            @media (max-width: $mobile) { 
                &--bp-mobile { padding#{$property}: 0px; } 
            }
            @media (max-width: $iphone) { 
                &--bp-iphone { padding#{$property}: 0px; } 
            }
        }
    }


    @each $side, $value in $sides {
        @for $i from 0 through 5 {
            $property: if($side == '', '', -#{$value});
            $space: $i * 1;
            $selector: #{$side}-#{$i};

            .b#{$selector} {
                border#{$property}: solid #{$space}px;

                //Breakpoints
                @media (max-width: $laptop) { 
                    &--bp-laptop { border#{$property}: 0px; } 
                }
                @media (max-width: $tablet) { 
                    &--bp-tablet { border#{$property}: 0px; } 
                }
                @media (max-width: $mobile) { 
                    &--bp-mobile { border#{$property}: 0px; } 
                }
                @media (max-width: $iphone) { 
                    &--bp-iphone { border#{$property}: 0px; } 
                }
            }
        }
    }
}
