// GRID
$gridcolumns: 12;

// SHADES OF GREY
$grey-darkest: #27335e;
$grey-dark: #94a0bd;
$grey: #dce0e9;
$grey-light: #e1e9f9; 
$grey-lightest: #fdfdfd;
$off-white: #fafafa;
$white: #ffffff;

// LAYOUT
$navigation:  #0e305d; // #222e56;
$navigation-color: #bddfff; // #bfe0ff;

// COLORS
$danger: #f95252;
$warning: #FFC107;
$information: #3F51B5;
$primary: #06d0cc;

// MEDIA QUERIES
$desktop: 1110px;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px;
$iphone: 320px;

// spacing
$sides: (
    "": "",
    "t": "top",
    "b": "bottom",
    "l": "left",
    "r": "right",
);