@import 'variables';
@import 'tooltip';
@import 'pagination';
@import 'tables';
@import 'card';
@import 'grid';
@import 'layout';
@import 'buttons';
@import 'alert';
@import 'forms';
@import 'toggles';
@import 'progress';
@import 'checkboxes';
@import 'utilities';
@import 'modals';
@import 'vendor';

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');

body {
  font-family: 'Nunito', sans-serif;
  font-size: .95rem;
  color: $grey-darkest;
  font-weight: 300;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: $primary;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 600;
}