<template>
    <!-- Main -->
	<main class="main">
		<section class="section">
			<div class="container container--medium">

                <h1>Settings</h1>

                <!-- Confirmation Success -->
                <div class="alert alert--success mb-2" v-if="confirm.success">
                    Settings are now been updated.
                </div>

                <!-- Errors -->
                <ul class="alert list alert--danger" v-if="errors.length">
                    <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
                </ul>
                
                <!-- Settings -->
                <div class="card card--no-background-border card--responsive" v-if="loaded">
                    <table class="table table--p-0 table--v-align-middle table--no-hover-background">
                        <tbody>
                            <tr>
                                <td>{{ settings.website_name.name }}</td> 
                                <td>
                                    <div class="form__group">
                                        <input type="text" name="website_name" required="required" class="form__control" v-model="settings.website_name.value">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ settings.website_url.name }}</td> 
                                <td>
                                    <div class="form__group">
                                        <input type="text" name="website_url" required="required" class="form__control" v-model="settings.website_url.value">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ settings.media_types.name }}</td> 
                                <td>
                                    <div class="form__group">
                                        <input type="text" name="media_types" required="required" class="form__control" v-model="settings.media_types.value">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ settings.media_max_size.name }}</td> 
                                <td>
                                    <div class="form__group">
                                        <input type="number" name="media_max_size" required="required" class="form__control" v-model="settings.media_max_size.value">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form__group mt-2 mb-0">
                                        <button class="button" type="submit" @click="update()" v-if="userHasPermission('edit settings')">Submit</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			</div>
		</section>
	</main>
    
</template>

<script>
import auth from '@js/auth'
import helper from '@js/helpers'

export default {
     data(){
        return {
            /**
             * Store Settings.
             */
            settings: {},

            /**
             * Settings errors.
             */
            errors: [],

            /**
             * Confirm success.
             */
            confirm: {
                success: false
            },

            /**
             * Your permissions.
             */
            you: {
                permissions: []
            },

            /**
             * Load HTML on data load.
             */
            loaded: false
        }
     },

    mounted() {
        this.index()

        /**
         * Get your permissions.
         */
        axios.get(`/api/user`).then(({data}) => {
            this.you.permissions = auth.setPermissions(data)
        }).catch(errors => {
            this.errors = errors.response.data
        })
    },

    methods: {
        /**
         * Reset.
         */
        reset() {
            this.errors = []
        },

        /**
         * Show success message.
         */
        confirmSuccess() {
            this.confirm.success = true
            return setTimeout( () => this.confirm.success = false, 3000)
        },

        /**
         * Check your permissions.
         */
        userHasPermission(permission) {
            return this.you.permissions.find(object => object.name == permission) ? true : false
        },
            
        /**
         * Update Settings.
         */
        update() {
            if(this.userHasPermission('edit settings')) {
                axios.patch(`/api/admin/settings/`, {
                    settings: this.settings
                }).then(({data}) => {
                    this.confirmSuccess()
                    this.reset()
                }).catch(errors => {
                    this.errors = helper.errors(errors.response.data)
                })
            }
        },
                
        /**
         * Load Settings.
         */
        index() {
            let vm = this
            axios.get(`/api/admin/settings`).then(({data}) => {
                data.forEach(function(setting) {
                    vm.settings[setting.key] = setting
                })
                this.loaded = true
            })
            .catch(errors => {
                this.errors = errors.response.data
            })
        }
    }
}
</script>

