<template>
    <main class="main">
        <section class="section p-0">
            <div class="container container--full">
    
                <!-- Directories -->
                <div class="sticky">
                    <div class="card__title card__title--slider text--center bb-0">
                        <div><a href="#" class="grey-darkest" @click.prevent="index('/config')">Configurations</a></div>
                        <div><a href="#" class="grey-darkest" @click.prevent="index('/resources/views')">Views</a></div>
                    </div>
                </div>
    
                <!-- Directory and Save -->
                <div class="sticky">
                    <div class="card card--no-shadow bb-0 r-0">
                        <div class="card__title">
                            <img v-if="confirm.success" class="mt-1 float-right" src="/images/loading.svg" alt="">
                            <button v-if="! confirm.success" class="button button--x-small button--grey float-right" v-show="file.selected && userHasPermission('edit files')" @click.prevent="update()">Save</button>
    
                            <!-- File path -->
                            <h3 class="mt-1 mb-1" v-show="! file.selected">{{ directory }} </h3>
                            <small v-show="file.selected">{{ directory }}</small>
    
                            <!-- File -->
                            <h3 class="mt-1 mb-1">{{ file.name }} </h3>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-3 col-3--bp-tablet">
                        <div class="card card--no-shadow card--no-background m-3">
                            <div class="card__title">
                                Files
                            </div>
                            <div class="card__body overflow--x">
                                <ul class="card__body list--no-style">
                                    <li v-for="(file, index) in formattedFiles" :key="index">
                                        <a href="#" @click.prevent="show(file)">{{ file.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-9 col-9--bp-tablet">
                        <codemirror v-model="file.contents" :options="editorOptions"></codemirror>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    import auth from '@js/auth'
    import {
        codemirror
    } from 'vue-codemirror'
    import 'codemirror/mode/php/php.js'
    import 'codemirror/theme/dracula.css'
    import 'codemirror/lib/codemirror.css'
    
    export default {
        components: {
            codemirror
        },
        data() {
            return {
    
                /**
                 * Settings for the editor.
                 */
                editorOptions: {
                    setSize: 100,
                    tabSize: 3,
                    mode: 'php',
                    theme: 'dracula',
                    lineNumbers: true,
                    line: true,
                },
    
                /**
                 * Confirm success.
                 */
                confirm: {
                    success: false
                },
    
                /**
                 * Files list - Unformatted.
                 */
                files: [],
    
                /**
                 * File information.
                 */
                file: {
                    contents: '<?php // Select a file you wish to edit :) ',
                    path: '',
                    name: '',
                    selected: false
                },
    
                /**
                 * Directory.
                 */
                directory: '',
    
                /**
                 * Your permissions.
                 */
                you: {
                    permissions: []
                },
            }
        },
    
        mounted() {
            /**
             *  Set slick slider.
             */
            $('.card__title--slider').slick({
                slidesToShow: 2,
                speed: 300,
                responsive: [{
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                ]
            })
    
            /**
             * Get your permissions.
             */
            axios.get(`/api/user`).then(({data}) => {
                this.you.permissions = auth.setPermissions(data)
            }).catch(errors => {
                this.errors = errors.response.data
            })
    
            /**
             * Load files from config first.
             */
            this.index('/config')
        },
    
        computed: {
            /**
             * Foreach file, append file path and file name.
             */
            formattedFiles() {
                var files = []
                let vm = this
    
                this.files.forEach(function(file) {
                    let object = {
                        path: file,
                        name: file.split(vm.directory).pop(),
                    }
    
                    files.push(object)
                })
    
                return files
            }
        },
    
        methods: {
            /**
             * Check your permissions.
             */
            userHasPermission(permission) {
                return this.you.permissions.find(object => object.name == permission) ? true : false
            },
    
            /**
             * Show success message.
             */
            confirmSuccess() {
                this.confirm.success = true
                return setTimeout(() => this.confirm.success = false, 500)
            },
    
            /**
             * Load file path.
             */
            index(path) {
                this.directory = path
                axios.get(`/api/admin/files`, {
                    params: {
                        path: path,
                    }
                }).then(({data}) => {
                    this.files = data
                }).catch(errors => {
                    this.errors = errors
                })
            },
    
            /**
             *  Fetch file path and contents.
             */
            show(file) {
                axios.get(`/api/admin/files/edit`, {
                    params: {
                        path: file.path,
                    }
                }).then(({data}) => {
                    this.file.contents = data.contents
                    this.file.path = data.path
                    this.file.name = file.name
                    this.file.selected = true
                }).catch(errors => {
                    this.errors = errors.response.data
                })
            },
    
            /**
             * Update files.
             */
            update() {
                if (this.userHasPermission('edit files')) {
                    axios.patch(`/api/admin/files`, {
                        contents: this.file.contents,
                        path: this.file.path
                    }).then(({data}) => {
                        this.confirmSuccess()
                    }).catch(errors => {
                        this.errors = errors.response.data
                    })
                }
            },
        }
    }
</script>