<template>
	<!-- Main -->
	<main class="main">
		<section class="section">
			<div class="container container--medium">
                <router-link :to="{ name: 'admin.users.index' }" class="button float-right button--grey" v-show="userHasPermission('index users')">
                    View Users
                </router-link>

                <h1>Create User</h1>

                <!-- User Information -->
                <form action="" @submit.prevent="create()">
                    <div class="row">
                        <div :class="[{ 'col-8 col-8--bp-tablet': userHasPermission('create user permissions') }, 'pb-1']">
                            
                            <div class="form__group">
                                <input type="text" :class="[{ 'form__control--error': errors.name }, 'form__control']" name="name" v-model="user.name" placeholder="Name" required>
                                <div class="form__error" v-if="errors.name">
                                    {{ errors.name[0] }}
                                </div>
                            </div>
                            
                            <div class="form__group">
                                <input type="text" :class="[{ 'form__control--error': errors.email }, 'form__control']" name="email" v-model="user.email" placeholder="Email" required>
                                <div class="form__error" v-if="errors.email">
                                    {{ errors.email[0] }}
                                </div>
                            </div>

                            <!-- Show Password -->
                            <div class="mt-3" v-show="user.password"><strong>Password:</strong> {{ user.password }}</div>

                            <div class="form__group mt-3 mb-3">
                                <input type="password" :class="[{ 'form__control--error': errors.password }, 'form__control']" name="password" v-model="user.password" placeholder="Enter Password">
                                <div class="form__error" v-if="errors.password">
                                    {{ errors.password[0] }}
                                </div>
                            </div>

                            <div class="form__group mt-3 mb-3">
                                <input type="password" :class="[{ 'form__control--error': errors.password_confirmation }, 'form__control']" name="password_confirmation" v-model="user.password_confirmation" placeholder="Confirm Password">
                                <div class="form__error" v-if="errors.password_confirmation">
                                    {{ errors.password_confirmation[0] }}
                                </div>
                            </div>
                        </div>

                        <!-- Roles -->
                        <div :class="[{ 'col-4 col-4--bp-tablet': userHasPermission('create user permissions') }, 'pl-2 pl-2--bp-tablet']" v-if="userHasPermission('create user permissions')">
                            <div class="card">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Roles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(role, index) in allRoles" :key="index">
                                            <td class="border__bottom">
                                                {{ capitalize(role.name) }}
                                                <label class="toggle toggle__medium float-right">
                                                    <input type="checkbox" v-model="role.authorized" @change="toggleRole(role)">
                                                    <span class="slider slider__round"></span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>

                    <div class="form__group">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </form>
			</div>
		</section>
	</main>
</template>

<script>
    import auth from '@js/auth'
    import helper from '@js/helpers'
	
	export default {
		data() {
            return {
                /**
                 * Get errors.
                 */
                errors: [],
                
                /**
                 * Get user information.
                 */
                user: {
                    roles: []
                },

                /**
                 * Your permissions.
                 */
                you: {
                    permissions: []
                },

                /**
                 *  Get all roles
                 */
                allRoles: [],
            }
        },

        watch: {
            /**
             * Replace all spaces with an underscore.
             */
            'user.password': function (value) {
                if(value) {
                    this.user.password = helper.alphaDash(value, '_')
                }
            },

            /**
             * Replace all spaces with an underscore.
             */
            'user.password_confirmation': function (value) {
                if(value) {
                    this.user.password_confirmation = helper.alphaDash(value, '_')
                }
            },
        },

        mounted() {
            /**
             * Get all roles.
             */
            axios.get(`/api/admin/roles`).then(({data}) => {
                this.allRoles = data
            }).catch(errors => {
                this.errors = errors.response.data
            })

            /**
             * Get your permissions.
             */
            axios.get(`/api/user`).then(({data}) => {
                this.you.permissions = auth.setPermissions(data)
            }).catch(errors => {
                this.errors = errors.response.data
            })
        },
        
		methods: {
            /**
             * Check your permissions.
             */
            userHasPermission(permission) {
                return this.you.permissions.find(object => object.name == permission) ? true : false
            },

            /**
             * Create user.
             */
            create() {
                if(this.userHasPermission('create users')) {
                    axios.post(`/api/admin/users`, this.user
                    ).then(({data}) => {
                        this.user = data
                        this.$router.push({ name: 'admin.users.edit', params: { id: this.user.id }})
                        this.clear()
                    }).catch(errors => {
                        this.errors = errors.response.data
                    })
                }
            },

            /**
             * On toggle, create or delete role.
             */
            toggleRole(role) {
                if(role.authorized) {
                    return this.user.roles.push(role)
                }

                this.user.roles.splice(
                    this.user.roles.indexOf(this.user.roles.find(item => item.id == role.id)
                ), 1)
            },

            /**
             * Capitalize each word.
             */
            capitalize(string) {
                 return helper.capitalize(string)
            },

            /**
             * Clear all errors.
             */
			clear() {
                this.errors = []
            },
        },
	}
</script>