<template>
	<!-- Main -->
	<main class="main">
		<section class="section">
			<div class="container container--medium">
                <router-link :to="{ name: 'admin.users.create' }" class="button float-right button--grey" v-show="userHasPermission('create users')">
                    Create
                </router-link>

                <h1>Edit User</h1>

                <!-- Confirmation Success -->
                <div class="alert alert--success mb-2" v-if="confirm.success">
                    User {{ user.name }} has now been updated.
                </div>

                <!-- Confirmation Danger -->
                <div class="alert alert--danger mb-2" v-if="confirm.role">
                    Are you sure? User {{ capitalize(user.name) }} is about to lose the right of being {{ isVowel('a', 'an', confirm.role.name) }}.
                    <a href="#" @click.prevent="toggleRole(confirm.role)">Continue</a>
                    or 
                    <a href="#" @click.prevent="cancelRoleUpdate()">Cancel</a>
                </div>

                <!-- User Information -->
                <form action="" @submit.prevent="update()">
                    <div class="row">
                        <div :class="[{ 'col-8 col-8--bp-tablet': userHasPermission('edit user permissions') }, 'pb-1']">
                            
                            <div class="form__group">
                                <input type="text" :class="[{ 'form__control--error': errors.name }, 'form__control']" name="name" v-model="user.name" placeholder="Name" required>
                                <div class="form__error" v-if="errors.name">
                                    {{ errors.name[0] }}
                                </div>
                            </div>

                            <div class="form__group">
                                <input type="text" :class="[{ 'form__control--error': errors.email }, 'form__control']" name="email" v-model="user.email" placeholder="Email" required>
                                <div class="form__error" v-if="errors.email">
                                    {{ errors.email[0] }}
                                </div>
                            </div>

                            <!-- Set Password -->
                            <a href="#" v-show="!setPassword" @click.prevent="setPassword = !setPassword">Update Password</a>
                            <a href="#" v-show="setPassword" @click.prevent="setPassword = !setPassword">Cancel Update</a>

                            <!-- Show Password -->
                            <div class="mt-3" v-show="user.password"><strong>Password:</strong> {{ user.password }}</div>

                            <div v-if="setPassword == true || errors.password && errors.password_confirmation">
                                <div class="form__group mt-3 mb-3">
                                    <input type="password" :class="[{ 'form__control--error': errors.password }, 'form__control']" name="password" v-model="user.password" placeholder="Enter Password">
                                    <div class="form__error" v-if="errors.password">
                                        {{ errors.password[0] }}
                                    </div>
                                </div>

                                <div class="form__group mt-3 mb-3">
                                    <input type="password" :class="[{ 'form__control--error': errors.password_confirmation }, 'form__control']" name="password_confirmation" v-model="user.password_confirmation" placeholder="Confirm Password">
                                    <div class="form__error" v-if="errors.password_confirmation">
                                        {{ errors.password_confirmation[0] }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Roles -->
                        <div :class="[{ 'col-4 col-4--bp-tablet': userHasPermission('edit user permissions') }, 'pl-2 pl-2--bp-tablet']" v-if="userHasPermission('edit user permissions')">
                            <div class="card">
                                <div :class="[{ 'card__overlay': cssOverlay }]"></div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Roles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(role, index) in roles" :key="index">
                                            <td class="border__bottom">
                                                {{ capitalize(role.name) }}
                                                <label class="toggle toggle__medium float-right" v-show="role.name != 'admin' || user.id != you.id">
                                                    <input type="checkbox" v-model="role.authorized" @change="confirmRole(role, index)">
                                                    <span class="slider slider__round"></span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>

                    <div class="form__group mt-1">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </form>
			</div>
		</section>
	</main>
</template>

<script>
    import auth from '@js/auth'
	import helper from '@js/helpers'
	
	export default {
		data() {
            return {
                /**
                 * Get errors.
                 */
                errors: [],
                
                /**
                 * Get user information.
                 */
                user: {
                    roles: []
                },
                

                /**
                 * Confirm role.
                 */
                confirm: {
                    role: null,
                    success: false
                },

                /**
                 * CSS overlay to hide content.
                 */
                cssOverlay: false,

                /**
                 * Get all roles.
                 */

                allRoles: [],

                /**
                 * Your permissions.
                 */
                you: {
                    id: '',
                    permissions: []
                },

                /**
                 * Set password toggle.
                 */
                setPassword: false,
            }
        },

        watch: {
            /**
             * Replace all spaces with an underscore.
             */
            'user.password': function (value) {
                this.user.password = helper.alphaDash(value, '_')
            },

            /**
             * Replace all spaces with an underscore.
             */
            'user.password_confirmation': function (value) {
                this.user.password_confirmation = helper.alphaDash(value, '_')
            },
            
            /**
             * If you are not setting a password then empty password, 
             * password confirmation and its error messages.
             */
            setPassword: function() {
                if(! this.setPassword) {
                    this.user.password = null
                    this.user.password_confirmation = null
                    this.errors.password = null
                    this.errors.password_confirmation = null
                }
            },
        },

        mounted() {
            /**
             * Get the user that is being updated.
             */
            axios.get(`/api/admin/users/${this.$route.params.id}`
            ).then((result) => {
                this.user = result.data
            }).catch(errors => {
                this.errors = errors.response.data
            })

            /**
             * Get all roles.
             */
            axios.get(`/api/admin/roles`).then(({data}) => {
                this.allRoles = data
            }).catch(errors => {
                this.errors = errors.response.data
            }),

            /**
             * Get your permissions.
             */
            axios.get(`/api/user`).then(({data}) => {
                this.you.id = data.id
                this.you.permissions = auth.setPermissions(data)
            }).catch(errors => {
                this.errors = errors.response.data
            })
		},

		computed: {
            /**
             * Bind user's and all roles into an array of 
             * objects that list active and inactive 
             * roles.
             */
            roles:  function() {
                let vm = this
                let roles = []

                this.allRoles.forEach(function (role) {
                    let object = {
                        id: role.id,
                        name: role.name,
                        authorized: ( vm.user.roles.find(item => item.name == role.name) ) ? true : false,
                    }
                    roles.push(object)
                })
                
                return roles
            },
        },
        
		methods: {
            /**
             * Check your permissions.
             */
            userHasPermission(permission) {
                return this.you.permissions.find(object => object.name == permission) ? true : false
            },

            /**
             * Cancel updating a role.
             */
            cancelRoleUpdate() {
                if(this.confirm.role) {
                    this.roles[this.confirm.role.index].authorized = true
                }
                this.confirm.role = null
                this.cssOverlay = false
            },

            /**
             * Show success message.
             */
            confirmSuccess() {
                this.confirm.success = true
                return setTimeout(() => this.confirm.success = false, 3000)
            },

            /**
             * Capitalize each word.
             */
            capitalize(string) {
                 return helper.capitalize(string)
            },

            /**
             * Prefix a word to a vowel.
             */
            isVowel(nv_prefix, v_prefix, word) {
                return helper.isVowel(nv_prefix, v_prefix, word) 
            },

            /**
             * When a role is disabled, append an overlay to 
             * disable the permissions section and show a 
             * user confirmation message. 
             */
            confirmRole(role, index) {
                if(role.authorized == false) {
                    this.cssOverlay = true
                    this.confirm.role = role
                    return this.confirm.role.index = index
                }

                return this.toggleRole(role)
            },

             /**
             * On toggle, create or delete role.
             */
            toggleRole(role) {
                if(role.authorized) {
                    return this.user.roles.push(role)
                }

                this.cssOverlay = false
                this.confirm.role = null

                this.user.roles.splice(
                    this.user.roles.indexOf(this.user.roles.find(item => item.id == role.id)
                ), 1)
            },

            /**
             * Update user.
             */
			update() {
                if(this.userHasPermission('edit users')) {
                    axios.patch(`/api/admin/users/${this.user.id}`, this.user
                    ).then(({data}) => {
                        this.confirmSuccess()
                        this.cancelRoleUpdate()
                        this.clear()
                    }).catch(errors => {
                        this.errors = errors.response.data
                    })
                }
            },

            /**
             * Clear all errors.
             */
			clear() {
                this.errors = []
                if(! this.errors.hasOwnProperty('password') && 
                !this.errors.hasOwnProperty('password_confirmation')) {
                    this.setPassword = false
                }
            },
        },
	}
</script>