<template>
    <!-- Main -->
	<main class="main">
		<section class="section">
			<div class="container container--medium">
                
                <router-link :to="{ name: 'admin.users.create' }" class="button float-right button--grey" v-show="userHasPermission('create users')">
                    Create
                </router-link>

                <h1>Users</h1>

                <!-- Selection -->
                <p v-show="selection.length">
                    Selected: {{ selection.length }}
                </p>

                <!-- Filter Pages -->
                <div class="mb-2" v-show="userHasPermission('delete users')">
                    <a href="#" @click.prevent="reFilter('non_deleted')">All</a> ({{ meta.all }}) 
                    <a href="#" @click.prevent="reFilter('deleted')">Deleted</a> ({{ meta.deleted }})
                </div>

                <!-- Mass Selection Action --> 
                <div class="mb-2" v-show="selected && userHasPermission('delete pages')">
                    <select class="form__control form__control--small form__control--inline" v-model="action">
                        <option :value="action.value" v-show="filter == action.for" v-for="(action, index) in massActions" :key="index">{{ action.text }}</option>
                    </select>
                    <button class="button button--small button--inline" v-show="selection && action != 'hard_delete'" @click.prevent="massSelectionAction()">Apply</button>
                </div>

                <!-- Mass Deletion Alert -->
                <div class="alert alert--danger mb-2" v-show="selection.length && action == 'hard_delete'">
                    Are you sure? You are about to permanently delete {{ selection.length }} 
                    <span v-if="selection.length > 1">pages</span><span v-else>page</span>.
                    <a href="#" @click.prevent="massSelectionAction()">Yes</a> or
                    <a href="#" @click.prevent="selection = []; action = null">Cancel</a>
                </div>

                <!-- Search -->
                <div class="mb-2">
                    <input type="text" class="form__control form__control--muted text--center" placeholder="Search" v-model="searchQuery" @input="search">
                </div>

                <!-- Pages -->
                <div class="card card--responsive" v-show="users.length">
                    <table>
                        <thead>
                            <tr>
                                <th width="50" v-show="userHasPermission('delete users')">
                                    <label class="checkbox">
                                        <input type="checkbox" v-model="all">
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </th>
                                <th>
                                    <a href="#" @click.prevent="reorder = !reorder">
                                        Name <i v-show="this.reorder" class="fa fa-sort"></i>
                                    </a>
                                </th>
                                <th width="150">
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in ordered" :key="index">
                                <td v-show="userHasPermission('delete users')">
                                    <label class="checkbox">
                                        <input type="checkbox" v-model="selection" :value="user" number>
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </td>
                                <td>{{ trimWords(user.name, 30) }}
                                    <div class="mt-2">
                                        <div class="hover-visibility" v-show="filter == 'non_deleted'">
                                            <router-link v-show="userHasPermission('edit users')" :to="{name: 'admin.users.edit', params: {id: user.id}}">Edit</router-link>
                                            <a href="#" @click.prevent="destroy([user.id])" class="red" v-show="userHasPermission('delete users') && you.id != user.id ">Delete</a>
                                        </div>

                                        <div class="hover-visibility" v-show="filter == 'deleted'" @mouseleave="confirm.single = null">
                                            <a href="#" @click.prevent="restore([user])">
                                                Restore
                                            </a>
                                            <a href="#" class="red" @click.prevent="confirmSingle(user)">
                                                Delete Permanently
                                            </a>

                                            <span class="tooltip" v-show="confirm.single == user.id && ! selected">
                                                <div class="tooltip__message tooltip__message--right text--center">
                                                    <div>Are you sure?</div>
                                                    <a href="#" class="red" @click.prevent="destroy([user.id])">Yes</a> or
                                                    <a href="#" @click.prevent="confirm.single = null">No</a>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>{{ user.created_at | moment('DD/MM/YYYY') }}</div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="50" v-show="userHasPermission('delete users')">
                                    <label class="checkbox">
                                        <input type="checkbox" v-model="all">
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </th>
                                <th>
                                    <a href="#" @click.prevent="reorder = !reorder">
                                        Name <i v-show="this.reorder" class="fa fa-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <!-- Message & Reset Search -->
                <div v-if="searchQuery && users.length == 0" class="text--center mt-5">
                    <p>
                        No search results for "{{ searchQuery }}" in {{ filter }}
                    </p>
                    <a href="#" class="button button--large" @click.prevent="searchQuery = ''; index()">Reset Search</a>
                </div>
                <div v-else class="mt-2">
                    <div v-show="filter == 'deleted' && meta.deleted == 0">
                        <p>No deleted records</p>
                    </div>
                    <div v-show="filter == 'non_deleted' && meta.all == 0">
                        <p>No records</p>
                    </div>
                </div>
			</div>
		</section>

        <!-- Pagination -->
        <section class="section">
			<div class="container container--medium">
                <pagination v-if="meta.last_page > 1" 
                    :meta="meta" 
                    :offset="10" 
                    @paginate="index()">
                </pagination>
			</div>
        </section>

	</main>
</template>

<script>
    import auth from '@js/auth'
    import helper from '@js/helpers'

	export default {
        data() {
            return {
                /** 
                 *  Search query.
                 */
                searchQuery: null,

                /** 
                 *  Reorder pages.
                 */
                reorder: false,

                /** 
                 * General action.
                 */
                action: null,

                /** 
                 *  Filter pages.
                 */
                filter: 'non_deleted',

                /** 
                 *  Selection records.
                 */
                selection: [],

                /** 
                 * Users from /api/admin/user.
                 */
                users: [],
                
                /**
                 * Your permissions.
                 */
                you: {
                    id: '',
                    permissions: []
                },

                /** 
                 * Confirmation for single and all records.
                 */
                confirm: {
                    single: null,
                    selection: false,
                },

                /** 
                 * Meta data.
                 */
                meta: Object,

                /**
                 * Mass selection actions.
                 */
                massActions: [
                    { 
                        text: 'Mass Actions',
                        value: null,
                        for: 'non_deleted',
                    },
                    { 
                        text: 'Delete',
                        value: 'soft_delete',
                        for: 'non_deleted'
                    },
                    { 
                        text: 'Restore',
                        value: 'restore',
                        for: 'deleted'
                    },
                    { 
                        text: 'Delete Permanently',
                        value: 'hard_delete',
                        for: 'deleted'
                    }
                ],
            }
        },

        /**
         * Request all pages when component is mounted.
         */
        mounted() {
            this.index()

            /**
             * Get your permissions.
             */
            axios.get(`/api/user`).then(({data}) => {
                this.you.id = data.id
                this.you.permissions = auth.setPermissions(data)
            }).catch(errors => {
                this.errors = errors.response.data
            })
        },
        
        /**
         * Computed properties.
         */
        computed: {
            /**
             * Get the ids of the selected pages.
             */
            selectionIds: function() {
                return helper.flatten(this.selection, 'id')
            },

            /**
             * Get the ids of users.
             */
            usersIds: function() {
                return helper.flatten(this.users, 'id')
            },

            /**
             * Depending on the selected users, return true / 
             * false and toggle confirmation.
             */
            selected: function () {
                (this.selection.length) ? 
                this.confirm.single = null : 
                this.confirm.selection = false

                return (this.selection.length) ? true : false
            },

            /**
             * Reorder pages.
             */
            ordered: function () {
                let order = (this.reorder == true) ? 'asc' : 'desc'
                return _.orderBy(this.users, 'name', order)
            },
            
            all: {
                /**
                 * Check if all the users / selection ids match.
                 */
                get: function () {
                    return helper.inArray(this.selectionIds, this.usersIds)
                },

                /**
                 * Carry out the selection.
                 */
                set: function (selected) {
                    var selection = []
                    this.users.forEach(function (user) {
                        (selected) && selection.push(user)
                    })
                    this.selection = selection
                }
            }
        },

        created() {
            /**
             * Repaginate according to the remaining records.
             */
            this.$on('rePaginate', () => {
                this.rePaginate()
            })
        },

        methods: {
            /**
             * Capitalize each word.
             */
            capitalize(string) {
                 return helper.capitalize(string)
            },

            /**
             * Limit words.
             */
            trimWords(string, length) {
                return helper.trimWords(string, length)
            },

            /**
             * Re-filter pages (all, deleted).
             */
            reFilter(filter) {
                this.meta.current_page = 1
                this.filter = filter
                this.index()
            },

            /**
             * Add a slight waiting time foreach input, to 
             * reduce unintentional searches. Reset current 
             * page and perform search.
             */
            search: _.debounce(function () {
                this.meta.current_page = 1
                this.index() 
            }, 250),

            /**
             * Carry out bulk action depending on the selected 
             * action.
             */
            massSelectionAction() {
                if(this.action == 'soft_delete' || this.action == 'hard_delete') {
                    return this.destroy(this.selectionIds)
                }else if(this.action == 'restore') {
                    return this.restore(this.selectionIds)
                }
            },

            /**
             *  Toggle selection confirmation.
             */
            confirmSelection() {
                this.confirm.selection = true
            },

            /**
             * Toggle single confirmation and reset 
             * selection.
             */
            confirmSingle(user) {
                this.confirm.single = user.id
                this.confirm.selection = false
                this.selection = []
            },

            /**
             * If there is only one record or the all pages 
             * are selected. Then decrement the current 
             * page, otherwise return the same page.
             */
            rePaginate() {
                return this.meta.current_page = 
                (this.users.length == 1 || 
                this.selection.length == this.users.length) ? 
                this.meta.current_page -1 : 
                this.meta.current_page
            },
            
            /**
             * Check your permissions.
             */
            userHasPermission(permission) {
                return this.you.permissions.find(object => object.name == permission) ? true : false
            },

            /**
             * Call pages and repaginate.
             */
            index() {
                axios.get(`/api/admin/users`, { 
                params: { 
                    page: this.meta.current_page,
                    search: this.searchQuery,
                    filter: this.filter,
                }}).then(({data}) => {
                    this.users = data.data
                    this.meta = data.meta
                    this.action = null
                    this.selection = []
                }).catch(errors => {
                    this.errors = errors.response.data
                })
            },

            /**
             * Restore pages and repaginate.
             */
            restore(ids) {
                if(this.userHasPermission('delete users')) {
                    axios.patch(`/api/admin/users/restore`, {
                        ids: ids 
                    }
                    ).then((result) => {
                        this.$emit('rePaginate')
                        this.index()
                    }).catch(errors => {
                        this.errors = errors.response.data
                    })
                }
            },

            /**
             * Destroy records and repaginate.
             */
            destroy(ids) {
                if(this.userHasPermission('delete users')) {
                    axios.delete(`/api/admin/users/`, {
                        params: { 
                            ids: ids 
                        }
                    }).then(({data}) => {   
                        this.$emit('rePaginate')
                        this.index()
                    }).catch(errors => {
                        this.errors = errors.response.data
                    })
                }
            },
        },
	}
</script>